body{
   font-family: 'Roboto', sans-serif;
   background-color: black;
}

.box{
   background-color:rgb(77, 77, 77);
   margin: 10%;
   padding: 10%;
   height: 95%;
   width: 95%;
   border-radius: 5%;
   color: white;
   box-shadow: 4px 4px 10px grey;
   -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.box:hover{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.box .img{
   text-align: center;
   font-size: 250%;
   margin-top: 2%;
   margin-bottom: 10%;
}

.col-6 .card{
   box-shadow: 4px 4px 20px grey;
   font-size: 150%;
}

.col-6{
   margin-top: 5%;
   margin-bottom: 5%; 
}


.col-7{
   margin-top: 10%;
}

.espace li{
   margin-bottom: 10%;
}

.titre{
   margin-bottom: 30%;
}

h2{
   margin-bottom: 2%;
   margin-top: 2%;
   color: white;
   text-align: center;
 
}

h3{
   text-align: center;
   margin-bottom: 20%;
}

.box1{
   margin-bottom: 4%;
}

.box1 img{
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.box1 img:hover{
   -webkit-filter: grayscale(0);
   filter: grayscale(0);
}

#site{
   margin: 2%;
   text-align: center;
   
}

#site img{
   margin: 4%;
   margin-top: 1%;
   margin-bottom: 1%
}

#rgpd{
   text-align: center;
   
}

#Sec1{
   background-color: #C4C3C3;
   padding-left: 15%;
   padding-right: 15%;
   padding-bottom: 10%;
   padding-top: 5%;
}

#Sec2{
   background-color: #4D4D4D;
   text-align: center;
}

#Sec3{
   background-color: #2B2828;
   padding-right: 15%;
   padding-left: 15%;
}
#sec4{
   background-color: #C4C3C3;
}
button.btn{
   margin-bottom: 0;
   font-size: 25px;
   font-weight: bold;
}
#headingOne{
   background-color: #2B2828;
   margin-top: 0;
   }
#headingTwo{
   background-color: #2B2828;
}
.col-lg-5{
   padding-right:7%;
   padding-left: 7%;
   margin-top: 10%;
   margin-bottom: 10%;
}
.col-lg-5 .card{
   text-align: center;
}

.col-md-12 .card{
   text-align: center;
  
   
}

.col-lg-2{
   padding-left: 3%;
   padding-top: 12%;
}
.col-md-0{
   text-align: center;
}

#prog{
   background-color:#4D4D4D ;
   margin-left: 0;
   margin-right: 0;
}

.container1{
   margin:auto;
}

#html{
   margin-left: 25%;
   margin-top: 25%;
   
}


#css{
   margin-left: 45%;
   margin-top: 20%;
}

#js{
   margin-left: 40%;
   margin-top: 50%;
}

#wps{
   margin-top: 30%;
   padding-left: 12%;
}

#php{
   margin-top: 54%;
   padding-left: 12%;
}

#jquery{
   margin-top: 20%;
   margin-bottom: 20%;
   margin-left: 28%;
}

.row{
   margin-left: 0;
   margin-right: 0;
}

/*debut bulle contact*/

.nousContacter {
   background-color: rgb(75, 75, 75);
   width: 100%;
   text-align: center;
   }
   #titre-bulle{
      margin-bottom: 5%;
      font-size: 50px;
   }
   @media screen and (max-width: 780px) {
      #titre-bulle{
         font-size: 48px;

      }
   }
   @media screen and (max-width: 380px) {
      #titre-bulle{
         font-size: 250%;
      }
   }
   .joinus {
     width: 80%;
     padding-top: 10em;
     padding-bottom: 10em;
     margin: auto;
   }
   
   .speech-bubbleJoin {
       position: relative;
       background: white;
       border-radius: 3em;
       padding: 2em;
       box-shadow: 4px 4px 100px white;
       width: 100%;
       height: auto;
       
     }
     
     .speech-bubbleJoin:after { 
       content: ''; 
       position: absolute;
        right: 0; 
        top: 30%; 
        width: 0; 
        height: 0; 
        border: 60px solid transparent; 
       border-left-color: white;
       border-right: 0;
       border-bottom: 0;
       margin-top: -24.5px;
       margin-right: -49px;   
     }
   
     
     @media screen and (max-width: 780px) {
       .speech-bubbleJoin:after {
         content: ''; 
         position: absolute;
          right: 0; 
          top: 20%; 
          width: 0; 
          height: 0; 
          border: 60px solid transparent; 
         border-left-color: white;
         border-right: 0;
         border-bottom: 0;
         margin-top: -24.5px;
         margin-right: -49px; 
     }
   }
   
     @media screen and (max-width: 380px) {
       .speech-bubbleJoin:after {
         display: none;
     }
   }
   
     @media screen and (max-width: 380px) {
       .speech-bubbleJoin {
         margin-bottom: 3em;
     }
   }
   
.btn {
   background-color: #2b2828;
   color: white;
   margin-top: 1em;
   margin-bottom: 1em;
}
   
.btn:hover {
   background-color: orange;
}
/*fin bulle contact*/

#vide{
   background-color: #4D4D4D
}
#vide2{
   background-color: #2B2828;
   padding-bottom: 1%; 
}
#vide3{
background-color: #C4C3C3;
padding-bottom: 1%;
}

h6{
   text-align: center;
   color: white;
   margin-bottom: 0;
   padding-bottom: 1%;
}
footer{
   background-color: black;
}
#col-lg-5  {
   margin-top: 2%;
   margin-bottom: 2%;
}

#zootic{
   font-weight: bold;
   font-size: 200%;
   color: whitesmoke;
}

#zootic:hover{
   color: #F78C40;
}

@media only screen and (max-width: 380px){
   h3{
      font-size: 22px;
   }
   .col-md-0 img{
      display: none;
   }
   #Sec2{
      display: none;
   }
   #Sec3{
      display: none;
   }
   .mb-0 button{
      margin-top: 0;
   }
}


@media only screen and (max-width: 780px){

   .mb-0 button{
      margin-top: 0;
   }
 #img{
      margin-left: 15%;
      margin-top: 35%;
   }
   }

   h1 {
      z-index: 1;
      font-size: 40px;
      color: whitesmoke;
      position: absolute;
      font-family: keep_calm;
      top: 30px;
      left: 50px;
      text-shadow: 0.3em 0.3em 0.3em rgb(175, 104, 22);
  }
  caroussel img{
      height: 95vh;
  }
  
  nav {
      height: 5vh;
      background-color: #2B2828;
      z-index: 1020;
  }
  
  /*sticky header position*/
  .sticky.is-sticky {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1000;
      width: 100%;
  }
  .nav-link .active {
      color: orange;
  }
  
  @media only screen and (min-width: 540px) and (max-width: 1140px) {
      nav {
          height: auto;
          background-color: #2B2828;
          z-index: 1020;
      }
  
  }
  
  @media only screen and (max-width: 540px) {
      nav {
          height: auto;
          background-color: #2B2828;
          z-index: 1020;
      }
  }
  @media only screen and (max-width: 1140px) {
      h1 {
          display: none;
      }
      .caroussel {
          display: none;
      }
      #nav a {
          color: whitesmoke;
      }
      #nav a:hover {
          color: rgb(175, 104, 22) !important;
      }
      .media img {
          display: none !important;
      }
  }

