body{
   font-family: 'Roboto', sans-serif;
   background-color: black;
}
header{
   background-color: #2B2828;
   padding-bottom: 10%;
}

.box{
   background-color:rgb(77, 77, 77);
   margin: 10%;
   padding: 10%;
   height: 95%;
   width: 95%;
   border-radius: 5%;
   color: white;
   box-shadow: 4px 4px 10px grey;
   -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.box:hover{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.box .img{
   text-align: center;
   font-size: 250%;
   margin-top: 2%;
   margin-bottom: 10%;
}

.col-6 .card{
   box-shadow: 4px 4px 20px grey;
   font-size: 150%;
}

.col-6{
   margin-top: 5%;
   margin-bottom: 5%; 
}


.col-7{
   margin-top: 10%;
}

.espace li{
   margin-bottom: 10%;
}

.titre{
   margin-bottom: 30%;
}

h2{
   margin-bottom: 2%;
   margin-top: 2%;
   color: white;
   text-align: center;
 
}

h3{
   text-align: center;
   margin-bottom: 20%;
}

.box1{
   margin-bottom: 4%;
}

.box1 img{
   -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
}

.box1 img:hover{
   -webkit-filter: grayscale(0);
   filter: grayscale(0);
}

#site{
   margin: 2%;
   text-align: center;
   
}

#site img{
   margin: 4%;
   margin-top: 1%;
   margin-bottom: 1%
}

#rgpd{
   text-align: center;
   
}

#Sec1{
   background-color: #C4C3C3;
   padding-left: 15%;
   padding-right: 15%;
   padding-bottom: 10%;
   padding-top: 5%;
}

#Sec2{
   background-color: #4D4D4D;
   text-align: center;
}

#Sec3{
   background-color: #2B2828;
   padding-right: 15%;
   padding-left: 15%;
}
#sec4{
   background-color: #C4C3C3;
}
.col-lg-5{
   padding-right:7%;
   padding-left: 7%;
   margin-top: 10%;
   margin-bottom: 10%;
}

.col-md-6 {
   
}

.col-lg-2{
   padding-left: 3%;
   padding-top: 2%;
}
.col-md-0{
   text-align: center;
}

#prog{
   background-color:#4D4D4D ;
   margin-left: 0;
   margin-right: 0;
}

.container1{
   margin:auto;
}

#html{
   margin-left: 25%;
   margin-top: 25%;
   
}
#html:hover {
  
      
   
}

#css{
   margin-left: 45%;
   margin-top: 20%;
}

#js{
   margin-left: 40%;
   margin-top: 50%;
}

#wps{
   margin-top: 30%;
   padding-left: 12%;
}

#php{
   margin-top: 54%;
   padding-left: 12%;
}

#jquery{
   margin-top: 20%;
   margin-bottom: 20%;
   margin-left: 28%;
}

.row{
   margin-left: 0;
   margin-right: 0;
}


.nousContacter {
   background-color: rgb(75, 75, 75);
   width: 100%;
   text-align: center;
   }
   
.joinus {
   width: 80%;
   margin: auto;
}
   
#contactIMG {
   width: 100vh;
   float: left;
   margin-top: 5%;
}
   
.lead {
   text-align: center;
   padding: 1em;
   color: white;
   font-size: 3.5em;
}
   
.btn {
   background-color: #2b2828;
   color: white;
   margin-bottom: 1em;
}
   
.btn:hover {
   background-color: orange;
}

#vide{
   background-color: #4D4D4D
}
#vide2{
   background-color: #2B2828;
   padding-bottom: 1%; 
}
#vide3{
background-color: #C4C3C3;
padding-bottom: 1%;
}
h6{
   text-align: center;
   color: white;
   margin-bottom: 0;
   padding-bottom: 1%;
}
footer{
   background-color: black;
}
#col-lg-5  {
   margin-top: 2%;
   margin-bottom: 2%;
}